.logo{
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  .ca{
    padding-top: 100px;
    padding-bottom: 0;
    border: none;
    border-bottom: 1px solid whitesmoke;
    border-radius: 0px;
  }
  .png{
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: center;
  }
  .png img{
    position: absolute;
    margin: 20px;
  }
  .txt{
    text-align: center;
    font-size: 20px;
  }
  .ca h1{
    font-size: 58px;
    font-weight:700;
  }
  .ca div{
    display: flex;
  }
  .ca .btn{
    margin: 10px;
    padding: 10px;
    width: 160px;
  }
  .info{
    margin: 100px;
  }
  .info .title{
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-bottom: 40px;
  }
  .card-group .card{
    border: none;
    padding: 20px;
  }
  .info .card-group .card div{
    padding: 30px;
    width: 30px;
    height: 30px;
    background-color: rgb(0, 38, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px ;
  }
  .info .card-group .card h2{
    margin: 20px 0px 10px 0px;
  }
  .info .card-group .card div img{
    width: 30px;
    height: 30px;
  }
  .info .card-group .card img{
    width: 15px;
    height: 15px;
  }
  .carousel-inner{
    margin-top: 100px;
    width: 100%;
  }
  .footer{
    border-top: 1px solid whitesmoke;
    margin: -50px 100px 0px 100px;
  }
  .footer .card-group{
    padding-right: 50px;
  }
  .footer .card-group .card p{
    padding-bottom: 5px;
    margin: 0px;
  }
  .footer .card-group .card{
    margin: 30px 100px 80px 10px;
  }
  .c{
    margin-top: 100px;
  }